body {
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: center;
}

.nav-container {
    position: sticky;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--secondary-background-color);
    padding: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

.nav-container ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.nav-container li {
    padding: 10px;
}

.nav-container a {
    text-decoration: none;
}

.nav-container a:hover {
    color: var(--header-footer-background-color);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 20px 60px 20px;
}

.admin-intro,
label,
.nav-container a {
    font-size: 1.5rem;
}

section p,
main a {
    font-size: 1.2rem;
}

section p,
.admin-intro,
label,
.nav-container a,
th,
td {
    color: var(--primary-text-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid var(--primary-text-color);
    padding: 10px;
    text-align: left;
}

td a {
    color: var(--primary-text-color);
}

th,
tr:nth-child(even) {
    background-color: var(--secondary-background-color);
}

tr:nth-child(odd) {
    background-color: var(--primary-background-color);
}

/* Game */

.game-image {
    width: 150px;
    height: auto;
}

.game-description,
.game-category,
.game-details {
    width: 100%;
    padding: 10px 40px;
}


/* actions */
.admin-actions a {
    text-decoration: none;
}

.admin-action {
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
    width: 100%;
    height: auto;
}

.games-admin-action {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    width: 100%;
    height: auto;
}


/* Single Event et single User */
.single-event-container,
.single-user-container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.event-details-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}


/* jeux et images singleEvent */
.game-link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.games-section {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 10px 20px;
}


/* Form and inputs */
form {
    max-width: 600px;
    width: 100%;
}

#chat-form {
    max-width: none;
}