* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.game-title {
    font-family: var(--font-heading);
    color: var(--title-text-color);
}


/* Flash */
.flash,
.alert {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    text-decoration: underline;
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}


/* Liens d'actions et boutons */
button,
.button-link {
    width: fit-content;
    padding: 6px 10px;
    background-color: var(--button-background-color);
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* Single Event */
.organizer-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}

.event-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event-icon {
    width: 30px;
    height: 30px;
}

.event-date-place-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 8px;
}

.event-place,
.event-date,
.event-money,
.event-duration {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}


.maps {
    height: 300px;
    max-width: 300px;
    width: 100%;
}


/* Chat et participants */
.messages-section,
.participants-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.participant-container {
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 4px 4px;
}

.organizer {
    font-size: 1rem;
    color: rgb(98, 98, 98);
}


.messages-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100px;
    max-height: 400px;
    overflow: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--secondary-background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.message-author {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    overflow: hidden;
}


/* Games and Single Event images */
.games-section h1,
.games-section h2 {
    width: 100%;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background-color: var(--secondary-background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.game-title {
    flex: 1;
}

.game-container:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.game-container p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 150px;
    padding: 10px;
    text-align: center;
}

.game-container img {
    border-radius: 10px 10px 0 0;
}

.game-image {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
}


/* Users */
.profil-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

/* Form and inputs */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

form>div {
    width: 100%;
}

input {
    width: 100%;
    padding: 6px;
    border: solid 1px black;
    border-radius: 4px;
    font-size: 1.2rem;
}

form>div>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.checkbox-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 6px;
}

.ts-control {
    border-color: black !important;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.2rem;
    /* Empêche l'utilisateur de modifier la taille de la textarea */
    resize: none;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

button {
    width: fit-content;
    padding: 6px 20px;
    background-color: var(--button-background-color);
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* Delete and Modal */
.delete-form {
    display: inline;
    width: fit-content;
}

.delete-button {
    background: none;
    padding: 0;
}

.hidden {
    display: none;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--primary-background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.modal-close-button {
    width: fit-content;
    align-self: flex-end;
    font-size: 2rem;
    padding: 0 10px;
    background-color: var(--button-background-color);
    color: var(--secondary-text-color);
    border-radius: 10px;
    cursor: pointer;
}

.modal p {
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

.modal-actions {
    display: flex;
    justify-content: space-around;
}


/* Pagination */
.pagination {
    max-width: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.previous,
.pages-numbers,
.next {
    font-size: 1.2rem;
}

.previous {
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
}

.pages-numbers {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.next {
    grid-area: 1 / 3 / 2 / 4;
    text-align: right;
}

@media(min-width: 768px) {

    button,
    .button-link {
        padding: 10px 16px;
    }

    .event-details {
        max-width: none;
        flex: 1;
    }

}