/* Style du header */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--header-footer-background-color);
    color: var(--secondary-text-color);
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.mobile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    z-index: 1001;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 100vh;
    background-color: var(--header-footer-background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 150px 20px 20px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.nav-list.active {
    transform: translateX(0);
}

nav a {
    text-decoration: none;
    color: var(--secondary-text-color);
    padding: 10px;
    font-size: 1.5rem;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

.logo-container {
    line-height: 0;
}

.logo {
    width: 100px;
    height: auto;
}

.burger-btn {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
}

.burger-btn span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--secondary-text-color);
    transition: all 0.3s ease-in-out;
}

.no-scroll {
    overflow: hidden;
}

@media(min-width: 773px) {

    /* Nav */
    .burger-btn {
        display: none;
    }

    header {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    nav {
        width: auto;
    }

    .nav-list {
        flex-direction: row;
        gap: 8px;
        position: static;
        width: auto;
        height: auto;
        transform: none;
        background: none;
        padding: 0;
    }

    nav a {
        padding: 10px 0;
        font-size: 1rem;
    }

}

@media(min-width: 1024px) {
    nav a {
        padding: 10px;
    }
}

@media(min-width: 1200px) {

    /* Nav */
    nav a {
        font-size: 1.2rem;
    }
}