* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-base);
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}


/* Flash */
.flash {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    text-decoration: underline;
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}


/* Liens d'actions et boutons */
button,
.button-link {
    width: fit-content;
    padding: 6px 20px;
    background-color: var(--button-background-color);
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* Events */
.events-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 4px 0;
}

.event-container {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: solid 1px black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    padding: 4px 4px;
}

.event-organizer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    margin: -4px -4px 0 -4px;
    padding: 0 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-background-color);
    border-radius: 10px 10px 0 0;
}

.profil-picture {
    width: 50px;
    height: 50px;
}

.register {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 4px 10px 4px 0;
}

.game-link,
.event-link {
    display: flex;
    text-decoration: none;
    color: var(--primary-text-color);
}


/* Single Event */
.organizer-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.event-details-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.event-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event-icon {
    width: 30px;
    height: 30px;
}

.event-date-place-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 8px;
}

.event-place,
.event-date,
.event-money,
.event-duration {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}

.maps {
    height: 300px;
    max-width: 300px;
    width: 100%;
}


/* jeux et images singleEvent */
.games-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
}

.games-section h1,
.games-section h2 {
    width: 100%;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
    background-color: var(--secondary-background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.game-container:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.game-container p {
    max-width: 150px;
    padding: 10px;
    text-align: center;
}

.game-container img {
    border-radius: 10px 10px 0 0;
}

.game-image {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
}


/* Pagination */
.pagination {
    max-width: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.previous {
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
}

.next {
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
}


/* footer */
footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: var(--header-footer-background-color);
    color: var(--secondary-text-color);
}

@media(min-width: 375px) {
    .games-section {
        justify-content: flex-start;
    }
}

@media(min-width: 500px) {
    main {
        padding: 20px 40px;
    }
}

@media (min-width: 768px) {

    .event-container,
    .pagination {
        max-width: 600px;
    }

    .event-details {
        max-width: none;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .event-place,
    .event-date,
    .event-money,
    .event-duration {
        flex-flow: row nowrap;
    }

    .maps {
        height: 400px;
        max-width: 400px;
    }
}

@media(min-width: 1024px) {
    main {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        font-size: 1.15rem;
    }

    /* Events */
    .event-container {
        max-width: 700px;
        gap: 8px;
        padding: 10px 10px;
    }

    .event-organizer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 10px;
        margin: -10px -10px 0 -10px;
        padding: 0 10px;
    }

    .pagination {
        max-width: 1000px;
    }
}