@font-face {
    font-family: 'DM Serif Display';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-base: 'Nunito', sans-serif;
    --font-heading: 'Dm Serif Display';

    --primary-text-color: #000000;

    --header-footer-background-color: #632024;
    --button-background-color: #632024;

    --secondary-text-color: #F9F6E1;
    --title-text-color: #25344F;

    --primary-background-color: #F9F6E1;
    --secondary-background-color: #D5B893;

    font-size: 16px;
}